<div>
    <header class="top-header">
        <h1 class="marg">سورن شاپ</h1>
        <div>
            <a href="/">
                <button class="button-top">صفحه اصلی</button>
            </a>
        </div>
     </header>
    <nav class="navbar">
        <h2  class="nav-button">لوازم خانگی</h2>
    </nav>
    <section class="product-box-1">
        <div class="product">
            <img src="assets/lavazem1.jpg">
            <h3>یخچال فیریزر</h3>
            <a href="/yaghchal">
                <button class="buy-button">ورود</button>
            </a>
        </div>
        <div class="product">
            <img src="assets/lavazem2.jpg" alt="">
            <h3>ماشین لباسشویی</h3>
            <a href="/mashinlebas">
                <button class="buy2-button">ورود</button>            
            </a>
        </div>
    </section>
    <section class="product-box-2">
        <div class="product">
            <img src="assets/lavazem3.jpg"
            alt="">
            <h3 class="txe-boy3">تلوزیون</h3>
            <a href="/tv">
                <button class="buy3-button">ورود</button>            
            </a>
        </div>
        <div class="product">
            <img src="assets/lavazem4.jpg"
                alt="">
            <h3 class="tex-buy4">جارو برقی</h3>
            <a href="/jaro">
                <button class="buy4-button">ورود</button>            
            </a>
        </div>
    </section>
    <footer class="footer">
        <h1>سورن شاپ</h1>
        <a class="footer-link" href="tel:+982532810000">025328100000</a>
    </footer>
</div>
