<div>
    <header class="top-header">
        <h2 class="marg">فروشگاه من</h2>
        <div>
            <a href="/">
                <button class="button-top">صفحه اصلی</button>
            </a>
        </div>
     </header>
    <nav class="navbar">
        <h2  class="nav-button">لوازم خانگی</h2>
    </nav>
    <section class="product-box-1">
        <div class="product">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_0VyAxtXuGY2GewPO6MQaR7s97FilDjJiag&usqp=CAU">
            <h3>یخچال فیریزر</h3>
            <a href="/yaghchal">
                <button class="buy-button">ورود</button>
            </a>
        </div>
        <div class="product">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkgAvzoVkuJ1uCdh46XYIEwcO1dPpOj3ExZQ&usqp=CAU" alt="">
            <h3>ماشین لباسشویی</h3>
            <a href="/mashinlebas">
                <button class="buy2-button">ورود</button>            
            </a>
        </div>
    </section>
    <section class="product-box-2">
        <div class="product">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx6YVPGtYG2npExkywd3nqZ1QQWpdao9eIFg&usqp=CAU"
            alt="">
            <h3 class="txe-boy3">تلوزیون</h3>
            <a href="/tv">
                <button class="buy3-button">ورود</button>            
            </a>
        </div>
        <div class="product">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWr0DgKZb0R7PTvy4UGYZKX1DV7qd87kFxMg&usqp=CAU"
                alt="">
            <h3 class="tex-buy4">جارو برقی</h3>
            <a href="/jaro">
                <button class="buy4-button">ورود</button>            
            </a>
        </div>
    </section>
    <footer class="footer">
        <h4>فروشگاه من</h4>
        <a class="stayl-footer" href="tel:+982532810000">025328100000</a>
    </footer>
</div>
