<div>
    <header class="top-header">
        <h2 class="marg">سورن شاپ</h2>
        <div>
            <a href="/goshi">
                <button class="button-top">تلفن همراه </button>
            </a>
        </div>
     </header>
    <nav class="navbar">
        <h2  class="nav-button">گوشی های هانر</h2>
    </nav>
    <section class="product-box-1">
        <div class="product">
            <img src="assets/honor1.jpg"alt="">
            <h3>Lite 10 گوشی هانر مدل</h3>
            <h4>قیمت:4100000 تومان</h4>
                <button class="buy-button">خرید</button>
        </div>
        <div class="product">
            <img src="assets/honor2.jpg" alt="">
            <h3> pro 9X گوشی هانر مدل</h3>
            <h4>قیمت20250000 تومان</h4>
            <button class="buy2-button">خرید</button>
        </div>
    </section>
    <section class="product-box-2">
        <div class="product">
            <img src="assets/honor3.jpg"
            alt="">
            <h3 class="txe-boy3">pro 30 گوشی هانر مدل</h3>
            <h4>قیمت:18920000 تومان</h4>
            <button class="buy3-button">خرید</button>
        </div>
        <div class="product">
            <img src="assets/honor4.jpg"
                alt="">
            <h3 class="tex-buy4">Lite V 40 هانر</h3>
            <h4>قیمت:15300000 تومان</h4>
            <button class="buy4-button">خرید</button>
        </div>
    </section>
    <footer class="footer">
        <h4>سورن شاپ</h4>
        <a class="footer-link" href="tel:+982532810000">025328100000</a>
    </footer>
</div>
