<div>
    <header class="top-header">
        <h1 class="marg">سورن شاپ</h1>
        <div>
            <a href="/goshi">
                <button class="button-top">تلفن همراه </button>
            </a>
        </div>
     </header>
    <nav class="navbar">
        <h2  class="nav-button">گوشی های شیائومی</h2>
    </nav>
    <section class="product-box-1">
        <div class="product">
            <img src="assets/x1.jpg"alt="">
            <h3>Redmi Note 10Sگوشی شیائومی مدل</h3>
            <h4>قیمت:7400000 تومان</h4>
                <button class="buy-button">خرید</button>
        </div>
        <div class="product">
            <img src="assets/x2.jpg" alt="">
            <h3> Poco X3گوشی شیائومی مدل</h3>
            <h4>قیمت7900000 تومان</h4>
            <button class="buy2-button">خرید</button>
        </div>
    </section>
    <section class="product-box-2">
        <div class="product">
            <img src="assets/x3.jpg"
            alt="">
            <h3 class="txe-boy3">Poco F2 گوشی شیائومی مدل</h3>
            <h4>قیمت:16900000 تومان</h4>
            <button class="buy3-button">خرید</button>
        </div>
        <div class="product">
            <img src="assets/x4.jpg"
                alt="">
            <h3 class="tex-buy4">Mi 10 گوشی شیائومی مدل</h3>
            <h4>قیمت:18900000 تومان</h4>
            <button class="buy4-button">خرید</button>
        </div>
    </section>
    <footer class="footer">
        <h1>سورن شاپ</h1>
        <a class="footer-link" href="tel:+982532810000">025328100000</a>
    </footer>
</div>
