<div>
    <header class="top-header">
        <h1 class="marg">سورن شاپ</h1>
        <div>
            <a href="/lavazemghangi">
                <button class="button-top"> لوازم خانگی </button>
            </a>
        </div>
     </header>
    <nav class="navbar">
        <h2  class="nav-button">ماشین لباسشویی</h2>
    </nav>
    <section class="product-box-1">
        <div class="product">
            <img src="assets/mashin1.jpg"alt="">
            <h3>7103 ماشین لباسشویی دوو مدل</h3>
            <h4>قیمت:10200000 تومان</h4>
                <button class="buy-button">خرید</button>
        </div>
        <div class="product">
            <img src="assets/mashin2.jpg" alt="">
            <h3>ماشین لباسشویی  پاکشوما مدل 94407</h3>
            <h4>قیمت12800000 تومان</h4>
            <button class="buy2-button">خرید</button>
        </div>
    </section>
    <section class="product-box-2">
        <div class="product">
            <img src="assets/mashin3.jpg"
            alt="">
            <h3 class="txe-boy3">1477 ماشین لباسشویی سامسونگ  مدل</h3>
            <h4>قیمت2000000 تومان</h4>
            <button class="buy3-button">خرید</button>
        </div>
        <div class="product">
            <img src="assets/mashin4.jpg"
                alt="">
            <h3 class="tex-buy4">84508 ماشین لباسشویی اسنوا مدل</h3>
            <h4>قیمت:12360000 تومان</h4>
            <button class="buy4-button">خرید</button>
        </div>
    </section>
    <footer class="footer">
        <h2>سورن شاپ</h2>
        <a class="stayl-footer" href="tel:+982532810000">025328100000</a>
    </footer>
</div>
