<div>
    <header class="top-header">
        <h2 class="marg">فروشگاه من</h2>
        <div>
            <a href="/home">
                <button class="button-top">صفحه اصلی</button>
            </a>
        </div>
     </header>
    <nav class="navbar">
        <h3  class="nav-button"> سوپرمارکت</h3>
    </nav>
    <section class="product-box-1">
        <div class="product">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ870yxO-M0qbvXd8It5sv90Ziaq2adhUT3TpNLHvht0FnlG9UekAUTGdfT5Grwh1wws3g&usqp=CAU"
                alt="">
            <h2>تنقلات</h2>
            <a href="tanagolat">
                <button class="buy-button">ورود</button>
            </a>
        </div>
        <div class="product">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlSOhpUwKX8NrwnsfX9rgbBfbjGyb2Q8Rqds0sJHLb801Ew9S5-zOj7dy39lFQpmC8l8A&usqp=CAU"
                alt="">
            <h2>نوشیدنی ها</h2>
            <a href="/noshidni">
                <button class="buy2-button">ورود</button>
            </a>
        </div>
    </section>
    <section class="product-box-2">
        <div class="product">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVxnAPBKxZ52VKFUIlo3cznhHrhcXt4VXqeg&usqp=CAU"
                alt="">
            <h2 class="txe-boy3">لبنیات</h2>
            <a href="/labaniat">
                <button class="buy3-button">ورود</button>
            </a>
        </div>
        <div class="product">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb7-ibRMVb0altZ79uskv7KVEiqsB6Li-NOw&usqp=CAU"
                alt="">
            <h2>کنسروها</h2>
            <a href="/conserv">
                <button class="buy4-button">ورود</button>            
            </a>
        </div>
    </section>
    <footer class="footer">
        <h4>فروشگاه من</h4>
        <a class="stayl-footer" href="tel:+982532810000">025328100000</a>
    </footer>
</div>

