.change-Password{
    margin: 8rem 12rem 6rem 12rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.158);;
    border-radius: 5px;
}
.heading{
    padding-top: 20px;
}
.inputs{
text-align: center;
padding: 10px 0px 10px 0px;
width: 40%;
border: none;
font-size: 25px;
margin: 20px;
border-radius: 5px;
}
.submit{
 background-color: #f2400a91;
padding: 13px 0px 13px 0px;
margin: 20px;
width: 40%;
font-size: 20px;
border: none;
border-radius: 5px;
}
.submit:hover{
    background: rgb(227,146,47);
    background: linear-gradient(74deg, rgba(227,146,47,0.7987570028011204) 38%, rgba(218, 68, 30, 0.933) 61%);
    transform: scale(1.1);
}