<div>
    <header class="top-header">
        <h2 class="marg">سورن شاپ</h2>
        <div>
            <a href="/goshi">
                <button class="button-top">تلفن همراه </button>
            </a>
        </div>
     </header>
    <nav class="navbar">
        <h2  class="nav-button">گوشی های آیفون</h2>
    </nav>
    <section class="product-box-1">
        <div class="product">
            <img src="assets/app1.jpg"alt="">
            <h3>pro Max 12 گوشی آیفون مدل</h3>
            <h4>قیمت:52700000 تومان</h4>
                <button class="buy-button">خرید</button>
        </div>
        <div class="product">
            <img src="assets/app2.jpg" alt="">
            <h3> pro 13 گوشی آیفون مدل</h3>
            <h4>قیمت58900000 تومان</h4>
            <button class="buy2-button">خرید</button>
        </div>
    </section>
    <section class="product-box-2">
        <div class="product">
            <img src="assets/app3.jpg"
            alt="">
            <h3 class="txe-boy3">mini 12 گوشی آیفون مدل</h3>
            <h4>قیمت:28900000 تومان</h4>
            <button class="buy3-button">خرید</button>
        </div>
        <div class="product">
            <img src="assets/app4.jpg"
                alt="">
            <h3 class="tex-buy4">SE 2020 آیفون</h3>
            <h4>قیمت:15300000 تومان</h4>
            <button class="buy4-button">خرید</button>
        </div>
    </section>
    <footer class="footer">
        <h4>سورن شاپ</h4>
        <a class="footer-link" href="tel:+982532810000">025328100000</a>
    </footer>
</div>
