<div>
    <header class="top-header">
        <h2 class="marg">فروشگاه من</h2>
        <div>
            <a href="/poshak">
                <button class="button-top">پوشاک</button>
            </a>
        </div>
     </header>
    <nav class="navbar">
        <h2  class="nav-button">پوشاک پسرانه</h2>
    </nav>
    <section class="product-box-1">
        <div class="product">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4-UOs2TPv1dyIUdEeHU5cptx6g_1eJrRWOQ&usqp=CAU">
            <h3>ست شلوار و لباس مجلسی</h3>
            <h4>قیمت:250000 تومان</h4>
                <button class="buy-button">خرید</button>
        </div>
        <div class="product">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZXcchMl9hpGXe8BYgRODtxCC5YZNulx1DOQ&usqp=CAU" alt="">
            <h3>تاپ شلوارک </h3>
            <h4>قیمت:98000 تومان</h4>
            <button class="buy2-button">خرید</button>
        </div>
    </section>
    <section class="product-box-2">
        <div class="product">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReEGivGX9ia6QJepSWyAw2rW0zb4TcZkPs5g&usqp=CAU"
            alt="">
            <h3 class="txe-boy3">کلاه آفتابی</h3>
            <h4>قیمت:45000 تومان</h4>
            <button class="buy3-button">خرید</button>
        </div>
        <div class="product">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6_mSZZRcsuQHeuwr2bYAyPmheixRZLoqXQw&usqp=CAU"
                alt="">
            <h3 class="tex-buy4">شلوارک لی اسپرت</h3>
            <h4>قیمت:85000 تومان</h4>
            <button class="buy4-button">خرید</button>
        </div>
    </section>
    <footer class="footer">
        <h4>فروشگاه من</h4>
        <a class="stayl-footer" href="tel:+982532810000">025328100000</a>
    </footer>
</div>
