<div>
    <header class="top-header">
        <h1 class="marg">سورن شاپ</h1>
        <div>
            <a href="/lavazemghangi">
                <button class="button-top"> لوازم خانگی </button>
            </a>
        </div>
     </header>
    <nav class="navbar">
        <h2  class="nav-button">یخچال فیریزر</h2>
    </nav>
    <section class="product-box-1">
        <div class="product">
            <img src="assets/yaghchal1.jpg"alt="">
            <h3>928یخچال فیریزر ساید اسنوا مدل</h3>
            <h4>قیمت:28200000 تومان</h4>
                <button class="buy-button">خرید</button>
        </div>
        <div class="product">
            <img src="assets/yaghchal2.jpg" alt="">
            <h3>یخچال فیریزر دوقلو هیمالیا مدل دلتا پلاس</h3>
            <h4>قیمت26100000 تومان</h4>
            <button class="buy2-button">خرید</button>
        </div>
    </section>
    <section class="product-box-2">
        <div class="product">
            <img src="assets/yaghchal3.jpg"
            alt="">
            <h3 class="txe-boy3">D2s یخچال فیریزر ساید دوو مدل</h3>
            <h4>قیمت28900000 تومان</h4>
            <button class="buy3-button">خرید</button>
        </div>
        <div class="product">
            <img src="assets/yaghchal4.jpg"
                alt="">
            <h3 class="tex-buy4">TF16 یخچال فیریزرامرسان مدل</h3>
            <h4>قیمت:10960000 تومان</h4>
            <button class="buy4-button">خرید</button>
        </div>
    </section>
    <footer class="footer">
        <h2>سورن شاپ</h2>
        <a class="footer-link" href="tel:+982532810000">025328100000</a>
    </footer>
</div>
