<div>
    <header class="top-header">
        <h1 class="marg">سورن شاپ</h1>
        <div>
            <a href="/">
                <button class="button-top">صفحه اصلی</button>
            </a>
        </div>
     </header>
    <nav class="navbar">
        <h2  class="nav-button">پوشاک</h2>
    </nav>
    <section class="product-box-1">
        <div class="product">
            <img src="assets/poshak1.jpg"alt="">
            <h3>پوشاک زنانه</h3>
            <a href="/poshakzanan">
                <button class="buy-button">ورود</button>
            </a>
        </div>
        <div class="product">
            <img src="assets/poshak2.jpg" alt="">
            <h3>پوشاک مردانه</h3>
            <a href="/poshakmardane">
                <button class="buy2-button">ورود</button>          
            </a>
        </div>
    </section>
    <section class="product-box-2">
        <div class="product">
            <img src="assets/poshak3.jpg"
            alt="">
            <h3 class="txe-boy3">پوشاک دخترانه</h3>
            <a href="/poshakdojhtarane">
                <button class="buy3-button">ورود</button>
            </a>
        </div>
        <div class="product">
            <img src="assets/poshak4.jpg"
                alt="">
            <h3 class="tex-buy4">پوشاک پسرانه</h3>
            <a href="/poshakpesarane">
                <button class="buy4-button">ورود</button>
            </a>
        </div>
    </section>
    <footer class="footer">
        <h2>سورن شاپ</h2>
        <a class="stayl-footer" href="tel:+982532810000">025328100000</a>
    </footer>
</div>
