<div>
    <header class="top-header">
        <h1 class="marg">سورن شاپ</h1>
        <div>
            <a href="/">
                <button class="button-top">صفحه اصلی</button>
            </a>
        </div>
     </header>
    <nav class="navbar">
        <h2  class="nav-button">تلفن همراه</h2>
    </nav>
    <section class="product-box-1">
        <div class="product">
            <img src="assets/goshisam.jpg">
            <h3>گوشی های سامسونگ</h3>
            <a href="/samsong">
                <button class="buy-button">ورود</button>            
            </a>
        </div>
        <div class="product">
            <img src="assets/goshiapp.jpg" alt="">
            <h3>گوشی های آیفون</h3>
            <a href="/iphone">
                <button class="buy2-button">ورود</button>
            </a>
        </div>
    </section>
    <section class="product-box-2">
        <div class="product">
            <img src="assets/goshihonor.jpg"
            alt="">
            <h3 class="txe-boy3">گوشی های هانر</h3>
            <a href="/honor">
                <button class="buy3-button">ورود</button>            
            </a>
        </div>
        <div class="product">
            <img src="assets/goshix.jpg"
                alt="">
            <h3 class="tex-buy4">گوشی های شیائومی</h3>
            <a href="Xiaomi">
                <button class="buy4-button">ورود</button>
            </a>
        </div>
    </section>
    <footer class="footer">
        <h2>سورن شاپ</h2>
        <a class="stayl-footer" href="tel:+982532810000">025328100000</a>
    </footer>
</div>
