
<div>
    <header class="top-header">
        <h1 class="marg">سورن شاپ </h1>
        <div>
            <a href="/login">
                <button class="button-top">ورود به حساب</button>
            </a>
            <a href="/register">
                <button class="button-top">ایجاد حساب</button> 
            </a>
        </div>
     </header>
    <nav class="navbar">
        <a href="supermarket">
            <button class="nav-button"> سوپرمارکت</button>
        </a>
        <a href="/goshi">
            <button class="nav-button">تلفن همراه</button>
        </a>
        <a href="/lavazemghangi">
            <button class="nav-button">لوازم خانگی</button>        
        </a>
        <!-- <button class="nav-button">خودرو</button> -->
        <a href="/poshak">
            <button class="nav-button">پوشاک</button>
        </a>
    </nav>
    <div class="CSSgal">
        <s id="s1"></s> 
        <s id="s2"></s>
        <s id="s3"></s>
        <s id="s4"></s>
      
        <div class="slider">
            <div class="slide"  style="background-image: url(assets/sopermarket.jpg);" onClick="window.location='/supermarket'">
                <h2 class="slider-titles">سوپرمارکت</h2>
            </div>
            <div class="slide" style="background-image: url(assets/telefon.jpg);" onClick="window.location='/goshi'">
                <h2 class="slider-titles">تلفن همراه</h2>
            </div>
            <div class="slide" style="background-image: url(assets/lavazem.jpg);" onClick="window.location='/lavazemghangi'">
                <h2 class="slider-titles">لوازم خانگی </h2>
            </div>
            <div class="slide" style="background-image: url(assets/poshakk.jpg);" onClick="window.location='/poshak'">
                <h2 class="slider-titles">پوشاک</h2>
            </div>
        </div>
        
        <div class="prevNext">
          <div><a href="#s4">قبلی</a><a href="#s2">بعدی</a></div>
          <div><a href="#s1">قبلی</a><a href="#s3">بعدی</a></div>
          <div><a href="#s2">قبلی</a><a href="#s4">بعدی</a></div>
          <div><a href="#s3">قبلی</a><a href="#s1">بعدی</a></div>
        </div>
      
        <div class="bullets">
          <a href="#s1">1</a>
          <a href="#s2">2</a>
          <a href="#s3">3</a>
          <a href="#s4">4</a>
        </div>
      
      </div> 
    <section class="product-box-1">
        <button class="texbox1">% فروش ویژه پوشاک %</button>
        <div class="product">
            <img src="assets/doghtar1.jpg">
            <h3>پیراهن دخترانه مدل گل سرخ</h3>
            <br>
            <button class="buttonhome"> %تخفیف ویژه %</button>
            <h4>قیمت:180000 تومان</h4>
            <a href="/poshakdojhtarane">
                <button class="buy-button">بازدید</button>            
            </a>
        </div>
        <div class="product">
            <img src="assets/mardane1.jpg" alt="">
            <h3>پیراهن اسپرت</h3>
            <br>
            <button class="buttonhome"> %تخفیف ویژه %</button>
            <h4>قیمت:140000 تومان</h4>
            <a href="/poshakmardane">
                <button class="buy2-button">بازدید</button>
            </a>
        </div>
    </section>
    <section class="product-box-2">
        <button class="texbox2">% فروش ویژه لوازم خانگی %</button>
        <div class="product">
            <img src="assets/tv1.jpg"
                alt="">
            <h3 class="tex-buy4">X9500H تلوزیون سونی مدل</h3>
            <br>
            <button class="buttonhome"> %تخفیف ویژه %</button>
            <h4>قیمت:13360000 تومان</h4>
            <a href="/tv">
                <button class="buy4-button">بازدید</button>            
            </a>
        </div>
        <div class="product">
            <img src="assets/lebas1.jpg" alt="">
            <h3>ماشین لباسشویی  پاکشوما مدل 94407</h3>
            <br>
            <button class="buttonhome"> %تخفیف ویژه %</button>
            <h4>قیمت12800000 تومان</h4>
            <a href="/mashinlebas">
                <button class="buy4-button">بازدید</button>            
            </a>
        </div>
    </section>
    <section class="product-box-1">
        <button class="texbox3">% فروش ویژه تلفن همراه %</button>
        <div class="product">
            <img src="assets/haner1.jpg"
                alt="">
            <h3 class="tex-buy4">Lite V 40 هانر</h3>
            <br>
            <button class="buttonhome"> %تخفیف ویژه %</button>
            <h4>قیمت:15300000 تومان</h4>
            <a href="/honor">
                <button class="buy4-button">بازدید</button>            
            </a>
        </div>
        <div class="product">
            <img src="assets/appel1.jpg"alt="">
            <h3>pro Max 12 گوشی آیفون مدل</h3>
            <br>
            <button class="buttonhome"> %تخفیف ویژه %</button>
            <h4>قیمت:52700000 تومان</h4>
            <a href="iphone">
                <button class="buy4-button">بازدید</button>
            </a>
        </div>
    </section>
    <section class="product-box-3">
        <button class="texbox1">%فروش ویژه سوپرمارکت%</button>
        <div class="product">
            <img src="assets/tanaghol1.jpg"
                alt="">
            <h3> کرانچی آتشی چی توز</h3>
            <br>
            <button class="buttonhome2"> %تخفیف ویژه %</button>
            <h4>قیمت:7000 تومان</h4>
            <a href="/tanagolat">
                <button class="buy2-button">بازدید</button>            
            </a>
        </div>
        <div class="product">
            <img src="assets/noshidani1.jpg"
                alt="">
            <h3 class="tex-buy4">نوشابه انرژی زا</h3>
            <br>
            <button class="buttonhome2"> %تخفیف ویژه %</button>
            <h4>قیمت:15000 تومان</h4>
            <a href="/noshidni">
                <button class="buy6-button">بازدید</button>
            </a>
        </div>
    </section>
    <footer class="footer">
        <h2>سورن شاپ</h2>
        <a class="stayl-footer" href="tel:+982532810000">025328100000</a>
    </footer>
</div>
