.Create-an-account{
    margin: 8rem 12rem 6rem 12rem ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.158);
}
.heading{
    padding-top: 20px;
}
.inputs{
text-align: center;
padding: 8px 0px 8px 0px;
margin: 20px 20px 20px 20px;
width: 40%;
font-size: 25px;
border-radius: 5px;
border: none;
}
.submit{
    background-color: #f2400a91 ;
padding: 16px 0px 16px 0px;
margin: 20px 20px 20px 20px;
width: 40%;
font-size: 20px;
border-radius: 5px;
border: none;
}
.submit:hover{
    background: rgb(227,146,47);
background: linear-gradient(74deg, rgba(227,146,47,0.7987570028011204) 38%, rgba(218, 68, 30, 0.933) 61%);
    transform: scale(1.1); 
}
