<div>
    <header class="top-header">
        <h1 class="marg">سورن شاپ</h1>
        <div>
            <a href="/lavazemghangi">
                <button class="button-top"> لوازم خانگی </button>
            </a>
        </div>
     </header>
    <nav class="navbar">
        <h2  class="nav-button">تلوزیون</h2>
    </nav>
    <section class="product-box-1">
        <div class="product">
            <img src="assets/tvv1.jpg"alt="">
            <h3>UHT-4K تلوزیون اسنوا مدل</h3>
            <h4>قیمت:7200000 تومان</h4>
                <button class="buy-button">خرید</button>
        </div>
        <div class="product">
            <img src="assets/tvv2.jpg" alt="">
            <h3> 55RU7300 تلوزیون اولد  سامسونگ مدل </h3>
            <h4>قیمت16800000 تومان</h4>
            <button class="buy2-button">خرید</button>
        </div>
    </section>
    <section class="product-box-2">
        <div class="product">
            <img src="assets/tvv3.jpg"
            alt="">
            <h3 class="txe-boy3">LM6300 تلوزیون ال جی  مدل</h3>
            <h4>قیمت14350000 تومان</h4>
            <button class="buy3-button">خرید</button>
        </div>
        <div class="product">
            <img src="assets/tvv4.jpg"
                alt="">
            <h3 class="tex-buy4">X9500H تلوزیون سونی مدل</h3>
            <h4>قیمت:13360000 تومان</h4>
            <button class="buy4-button">خرید</button>
        </div>
    </section>
    <footer class="footer">
        <h2>سورن شاپ</h2>
        <a class="footer-link" href="tel:+982532810000">025328100000</a>
    </footer>
</div>
