<div>
    <header class="top-header">
        <h2 class="marg">فروشگاه من</h2>
        <div>
            <a href="/poshak">
                <button class="button-top">پوشاک</button>
            </a>
        </div>
     </header>
    <nav class="navbar">
        <h2  class="nav-button">پوشاک مرداته</h2>
    </nav>
    <section class="product-box-1">
        <div class="product">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYx7RqlNwKsi2FRGXcxc6JcxjRt0lnFtshLQ&usqp=CAU">
            <h3>کت تک مدل کرپ</h3>
            <h4>قیمت:450000 تومان</h4>
                <button class="buy-button">خرید</button>
        </div>
        <div class="product">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLisFxy9h7BmIqR4qypIe2RNI6EM2fsBGlFA&usqp=CAU" alt="">
            <h3>پیراهن اسپرت</h3>
            <h4>قیمت:140000 تومان</h4>
            <button class="buy2-button">خرید</button>
        </div>
    </section>
    <section class="product-box-2">
        <div class="product">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR67_SmZhG29uwKQ1nSIvIts2REgsx91FzLjw&usqp=CAU"
            alt="">
            <h3 class="txe-boy3">شلوار مدل اسلش</h3>
            <h4>قیمت:125000 تومان</h4>
            <button class="buy3-button">خرید</button>
        </div>
        <div class="product">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRmGdmq7gdIp8TXPGL2tSV9VcJLsbKA6quaQ&usqp=CAU"
                alt="">
            <h3 class="tex-buy4">کفش اسپرت</h3>
            <h4>قیمت:345000 تومان</h4>
            <button class="buy4-button">خرید</button>
        </div>
    </section>
    <footer class="footer">
        <h4>فروشگاه من</h4>
        <a class="stayl-footer" href="tel:+982532810000">025328100000</a>
    </footer>
</div>
